.bg-image{
    background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');
    background-size: cover;
    padding:0;
}

.card {
    border-radius: 15px;
}

.pad-card {
    margin: 10px 0 10px 0;
}