{% extends 'base.html' %}

{% block head %}
	<title>About us</title>
{% endblock %}

{% block content %}
	<div class="container">
		<h1>About Us</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt diam eu lectus consectetur, at scelerisque urna rhoncus. Duis a lacus turpis. Nam a tempor dolor. Ut auctor augue a tristique facilisis. Integer mattis sollicitudin mi, nec consequat odio lacinia sit amet. Sed cursus odio nec luctus tempus. Sed vitae fringilla ligula. Nullam dapibus ligula libero, et consequat turpis porta at. Nulla non convallis sem. Sed vitae diam nec orci suscipit eleifend ut a turpis.</p>

		<p>Vivamus varius, elit at fringilla scelerisque, elit justo sodales arcu, at varius arcu est a ligula. Proin euismod libero nec turpis euismod hendrerit. Sed consectetur congue eros at efficitur. Fusce consequat metus sed lorem lacinia, ut tempor velit euismod. Cras tristique enim sed nunc faucibus pharetra. Proin dignissim, mi vitae tempor aliquam, massa elit mattis lectus, at rutrum nulla lacus vel justo. Nulla facilisi. Nulla facilisi.</p>

		<p>Nulla facilisi. Morbi in justo at purus lobortis lacinia non vel lectus. Nam quis lectus eu massa suscipit feugiat. Duis luctus metus non elit semper eleifend. Pellentesque sed risus id sapien cursus posuere. Fusce vel dapibus metus. Curabitur dapibus consequat ligula, ut aliquam nibh venenatis a. Sed ut lectus posuere, hendrerit ex in, luctus magna.</p>
	</div>
{% endblock %}
