{% extends 'base.html' %}

{% block head %}
	<title>Create your course</title>
{% endblock %}

{% block content %}

	<section class="vh-100 bg-image" style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
		<div class="mask d-flex align-items-center h-100 gradient-custom-3">
			<div class="container h-100">
				<div class="row d-flex justify-content-center align-items-center h-100">
					<div class="col-12 col-md-9 col-lg-7 col-xl-6">
						<div class="card" style="border-radius: 15px;">
							<div class="card-body p-5">
								<h2 class="text-uppercase text-center mb-5">Create a course</h2>
								<form action="{{ url_for('create') }}" method="post" enctype="multipart/form-data">
									<div class="form-outline mb-4">
										<b>How about a working title?</b>
										<input type="text" name="title" placeholder="Title" class="form-control form-control-lg" required/>
									</div>
									<b>Course content</b>
									{{ form.body() }}

									{{ ckeditor.load() }}
									{{ ckeditor.config(name='body') }}

									<br/>
									{% if context %}
										{% if context.file_extension == 'mp4' %}
											<div style="margin: 10px auto;">
												<video autoplay="autoplay" controls="controls" preload="preload">
													<source src="{{ url_for('display_attachment', file_name=context.file_name) }}" type="video/mp4"></source>
												</video>
											</div>
										{% else %}
											<img src="{{ url_for('display_attachment', file_name=context.file_name) }}"/>
										{% endif %}
									{% endif %}

									<div>
										<b>Upload video</b>
										<dl>
											<input type="file" name="video" autocomplete="off" required>
										</dl>

										<b>Upload thumbnail</b>
										<dl>
											<input type="file" name="thumbnail" autocomplete="off" required>
										</dl>
									</div>

									<div class="d-flex justify-content-center">
										<button type="submit"
												class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">
											Create
										</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}