{% extends 'base.html' %}

{% block head %}
	<link rel="stylesheet" href="../static/index.css">
	<link rel="stylesheet" href="../static/dashboard.css">
	<title>Home</title>
{% endblock %}

{% block content %}
	<div class="container">
		<div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
			<ul class="list-unstyled ps-0">
				<li class="mb-1">
					<button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
						Languages
					</button>
					<div class="collapse" id="home-collapse">
						<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
							<li><a href="{{ url_for('get_courses_by_category', category='python') }}" class="link-dark rounded">Python</a></li>
							<li><a href="{{ url_for('get_courses_by_category', category='cpp') }}" class="link-dark rounded">C++</a></li>
							<li><a href="{{ url_for('get_courses_by_category', category='rust') }}" class="link-dark rounded">Rust</a></li>
							<li><a href="{{ url_for('get_courses_by_category', category='javascript') }}" class="link-dark rounded">JavaScript</a></li>
						</ul>
					</div>
				</li>
				<li class="mb-1">
					<button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
						Subjects
					</button>
					<div class="collapse" id="dashboard-collapse">

						<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
							<li><a href="{{ url_for('get_courses_by_sub_category', sub_category='web-development') }}" class="link-dark rounded">Web Development</a></li>
							<li><a href="{{ url_for('get_courses_by_sub_category', sub_category='data-science') }}" class="link-dark rounded">Data Science</a></li>
							<li><a href="{{ url_for('get_courses_by_sub_category', sub_category='cybersecurity') }}" class="link-dark rounded">Cybersecurity</a></li>
							<li><a href="{{ url_for('get_courses_by_sub_category', sub_category='machine-learning') }}" class="link-dark rounded">Machine Learning</a></li>
						</ul>

					</div>
				</li>
			</ul>
		</div>

		<div class="row row-cols-1 row-cols-md-3 g-4 card-container">
			{% for course in courses %}
				<div class="col">
					<div class="card h-100">
						<img class="card-img-top" alt="Not found" src={{ url_for('display_attachment', file_name=course.thumbnail_path) }}>
						<div class="card-body">
							<h5 class="card-title">{{ course.title }}</h5>
							<p class="card-text">{{ course.description | safe }}</p>
						</div>
						<div class="card-footer">
							<div class="row">
								<div class="col-sm-6">{{ course.last_updated }}</div>
								{% if course.price %}
									<div class="col-sm-6 text-end">Price:
										<b>{{ course.price }}€</b></div>
								{% else %}
									<div class="col-sm-6 text-end">Price:
										<b>Free</b></div>
								{% endif %}
							</div>

							<button onclick="window.location.href='{{ url_for( 'course', id=course.id) }}';"
									class="btn btn-success btn-block btn-sm gradient-custom-4 text-body">
								Read more
							</button>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

	<!-- Pagination links -->
	<div class="container d-flex justify-content-center mt-4">
		<div class="pagination">
			{% if pagination.has_prev %}
				<a class="btn btn-primary" href="{{ url_for('home', page=pagination.prev_page) }}">Previous</a>
			{% endif %}
			{% for page in range(pagination.page - 2, pagination.page + 3) %}
				{% if page >= 1 and page <= pagination.pages %}
					{% if pagination.page == page %}
						<a class="btn btn-primary active" href="{{ url_for('home', page=page) }}">{{ page }}</a>
					{% else %}
						<a class="btn btn-primary" href="{{ url_for('home', page=page) }}">{{ page }}</a>
					{% endif %}
				{% endif %}
			{% endfor %}
			{% if pagination.has_next %}
				<a class="btn btn-primary" href="{{ url_for('home', page=pagination.next_page) }}">Next</a>
			{% endif %}
		</div>
	</div>

{% endblock %}