{% extends 'base.html' %}

{% block head %}
	<title>Dashboard</title>
	<link rel="stylesheet" href="../static/dashboard.css">
{% endblock %}

{% block content %}
	<body>

	<div class="row row-cols-1 row-cols-md-3 g-4 card-container">
		{% for course in courses %}
			<div class="col">
				<div class="card h-100">
					<img class="card-img-top" alt="Not found" src={{ url_for('display_attachment', file_name=course.thumbnail_path) }}>
					<div class="card-body">
						<h5 class="card-title">{{ course.title }}</h5>
						<p class="card-text">{{ course.description | safe }}</p>
					</div>
					<div class="card-footer">
						<div class="row">
							<div class="col-sm-6">Last updated {{ course.last_updated }}</div>
							{% if course.price %}
								<div class="col-sm-6 text-end">Price:
									<b>{{ course.price }}€</b></div>
							{% else %}
								<div class="col-sm-6 text-end">Price:
									<b>Free</b></div>
							{% endif %}
						</div>

						<button onclick="window.location.href='{{ url_for( 'course', id=course.id) }}';"
								class="btn btn-success btn-block btn-sm gradient-custom-4 text-body">
							Read more
						</button>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>


	</body>
{% endblock %}